
  <!-- Footer -->
  <footer class="text-center text-lg-start text-white" style="background-color: #2754b6">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">
             Vishwapatrkar Mahasangh 
            </h6>
            <p style="color: aliceblue;">
             Patrkro ka rashtriye panjikrit sangathan 
             R.no.= 547/6T 
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Home links</h6>
            <p>
              <a class="text-white" href="/">home</a>
            </p>
            <p>
              <a class="text-white" href="/news">News</a>
            </p>
            <p>
              <a class="text-white" href="/about">About</a>
            </p>
            <p>
              <a class="text-white" href="/registration">Registration</a>
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">
              perspective
            </h6>
            <p>
              <a class="text-white">RNI perspective</a>
            </p>
            <p>
              <a class="text-white">Panjiyan perspective</a>
            </p>
            <p>
              <a class="text-white">Patrkar sangh</a>
            </p>
            <p>
              <a class="text-white">Contact-us</a>
            </p>
          </div>

          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div style="color: white;" class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
            <p style="color: aliceblue ;"><i style="color: aliceblue;" class="fas fa-home mr-3"></i> Prayagraj uttarpradesh , India</p>
            <p style="color: aliceblue;"><i style="color: white;" class="fas fa-envelope mr-3"></i> vishwapatrakarmahasangh@gmail.com</p>
            <p style="color: aliceblue;"><i style="color: white;" class="fas fa-phone mr-3"></i> +91 6393287185</p>
            
          </div>
          <!-- Grid column -->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->

      <hr class="my-3">

      <!-- Section: Copyright -->
      <section class="p-3 pt-0">
        <div class="row d-flex align-items-center">
          <!-- Grid column -->
          <div class="col-md-7 col-lg-8 text-center text-md-start">
            <!-- Copyright -->
            <div class="p-3">
              © 2020 Copyright:
              <a class="text-white" href="https://mdbootstrap.com/">vishwapatrkarmahasangh.com</a>
            </div>
            <!-- Copyright -->
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
            <!-- Facebook -->
            <a  href="https://www.facebook.com/vishwaspatrakarmahasangh" class="btn btn-outline-light btn-floating m-1" class="text-white" role="button"><i
                class="fab fa-facebook-f"></i></a>

            <!-- Twitter -->
            <a  href="https://twitter.com/VMahasangh" class="btn btn-outline-light btn-floating m-1" class="text-white" role="button"><i
                class="fab fa-twitter"></i></a>

            <!-- Google -->
            <a href=""  class="btn btn-outline-light btn-floating m-1" class="text-white" role="button"><i
                class="fab fa-google"></i></a>

            <!-- Instagram -->
            <a  href="https://www.instagram.com/vishwapatrakarmahasangh/" class="btn btn-outline-light btn-floating m-1" class="text-white" role="button"><i
                class="fab fa-instagram"></i></a>
          </div>
          <!-- Grid column -->
        </div>
      </section>
      <!-- Section: Copyright -->
    </div>
    <!-- Grid container -->
  </footer>
  <!-- Footer -->
  </div>
  <!-- End of .container -->


  
</body>

</html>