{{>navbar}}

<section class="py-3 py-md-5 py-xl-8">
  <div class="container">
    <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
      <div class="col-12 col-lg-6 col-xl-5">
        <img class="aboutus-pic" loading="lazy" src="/static/images/firstslide.jpg" alt="">
      </div>
      <div class="col-12 col-lg-6 col-xl-7">
        <div class="row justify-content-xl-center">
          <div class="col-12 col-xl-11">
         <h3 class="fw-bolder slogans">हम कौन हैं</h3>
           
           <p class="mb-5"style="color:blue"> विश्व पत्रकार महासंघ का उद्भव विश्व पत्रकार महासंघ भारत देश के सूचना जगत अर्थात लोकतंत्र की
            चौथे स्तंभ और इसमें जुड़े सूचना कर्मियों को पूर्ण व्यवस्थित संयमित सुसंगठित और शिक्षित एवं प्रशिक्षित करने
            हेतु सर्व रूपेण पूर्ण संकल्पित ट्रस्ट है
            इसका उद्धव 2006 में प्रयागराज की धरती जहां गंगा जमुना सरस्वती जैसी तीनों पवित्र नदियों का संगम है ।जो की
            संपूर्ण विश्व में विख्यात है ऐसी पावन धरती में महासंघ का प्रादुर्भाव हुआ
            इस महासंघ का कार्य क्षेत्र भारत देश के साथ-साथ संपूर्ण विश्व है। विश्व पत्रकार महासंघ भारतीय संविधान के
            ट्रस्ट एक्ट के अंतर्गत पंजीकृत किया गया है। इसी आधार पर इस महासंघ का पूरा नाम विश्व पत्रकार महासंघ ट्रस्ट ऑफ
            इंडिया की मान्यता दी गई है<span id="dots">...</span><span id="more">
            </p>
            <p class="mb-5">विश्वा पत्रकार महासंघ में महासंघ शब्द की पुष्टि करने हेतु महासंघ में दो मुख्य सभाएं दो समितियां दो मोर्चा
            तथा एक प्रकोष्ठ का गठन किया गया है। जो की निम्मतवत है।
            विश्व पत्रकार महासंघ मे महासंघ शब्द होने हेतु संगठन
            के द्वारा एक प्रकोष्ठ दो मोर्चा
            दो समितियां तथा दो सभाओं को संगठित करके विश्व पत्रकार महासंघ में महासंघ शब्द की पुष्टि किया गया है जो की
            निम्नवत है केंद्रीय मुख्य सभा प्रांतीय मुख्य सभा वरिष्ठ सलाहकार समिति युवा पत्रकार मोर्चा महिला पत्रकार
            मोर्चा सूचना प्रकोष्ठ
            वरिष्ठ पत्रकार मंच। ।
            नोट उपर्युक्त सभी संगठित समूह की सभी गतिविधियों के संपूर्ण अधिकार मूल ट्रस्टयो पर निहित होगी और इन्हीं
                के द्वारा उपर्युक्त समूहो का गठन एवं पद निर्धारण तथा निरस्तीकरण का कार्य किया जाए</p>
            <div class="row gy-4 gy-md-0 gx-xxl-5X">
              <div class="col-12 col-md-6">
                <div class="d-flex">
                  {{!-- <div class="me-4 text-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
                      <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
                    </svg>
                  </div> --}}
                  {{!-- <div>
                    <h4 class="mb-3">Versatile Brand</h4>
                    <p class="text-secondary mb-0">We are crafting a digital method that subsists life across all mediums.</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="d-flex">
                  <div class="me-4 text-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-fire" viewBox="0 0 16 16">
                      <path d="M8 16c3.314 0 6-2 6-5.5 0-1.5-.5-4-2.5-6 .25 1.5-1.25 2-1.25 2C11 4 9 .5 6 0c.357 2 .5 4-2 6-1.25 1-2 2.729-2 4.5C2 14 4.686 16 8 16Zm0-1c-1.657 0-3-1-3-2.75 0-.75.25-2 1.25-3C6.125 10 7 10.5 7 10.5c-.375-1.25.5-3.25 2-3.5-.179 1-.25 2 1 3 .625.5 1 1.364 1 2.25C11 14 9.657 15 8 15Z" />
                    </svg>
                  </div>
                  <div>
                    <h4 class="mb-3">Digital Agency</h4>
                    <p class="text-secondary mb-0">We believe in innovation by merging primary with elaborate ideas.</p>
                  </div> --}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{!-- ==============================================================section 2============================================================ --}}

<section class="py-3 py-md-5 py-xl-8">
  <div class="container">
    <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
      <div class="col-12 col-lg-6 col-xl-5">
        <img class="aboutus-pic" loading="lazy" src="/static/images/first.jpg" alt="">
      </div>
      <div class="col-12 col-lg-6 col-xl-7">
        <div class="row justify-content-xl-center">
          <div class="col-12 col-xl-11">
            <h3 class="fw-bolder slogans">हमारी यात्रा</h3>
           
            <p class="mb-5" style="justify-content: flex-end;" style="color:blue"> विश्व के समस्त पत्रकारों व पत्रकार को संगठित कर उनको द महासंघ में शामिल कर परिचय पत्र प्रदान करना।

            2 विश्व भर के समस्त प्रकाशित हो रहे मुद्रित व इलेक्ट्रानिक मीडिया के पत्र-पत्रिकाओं के स्वामी सम्पादक, प्रकाशक, मुद्रक, छायाकारों, 
              लेखकों व अन्य प्रतिनिधियों को संघ में शामिल कर संघ की शक्ति को मजबूत करना।
            
            3 पत्रकारों मीडिया प्रबन्धतंत्र के मध्य अन्तसम्बन्धों को राष्ट्रहित में विकसित व मजबूत कराने हेतु कार्य करना ।
            
            4 विश्व भर में पत्रकारों की समुचित सुरक्षा हेतु संघर्ष करना व अन्य आवश्यक व्यवस्थाओं को सुलभ कराने हेतु कार्य करना।
            
            5. विश्व के पत्र-पत्रिकाओं व पत्रकारों की डायरेक्टरी (सूचना निदेशिका) तैयार करना।
            
            6. पत्रकारिता के मूल्यों के संरक्षण हेतु विश्व भर के पत्रकारों की विविध समस्याओं की जानकारी संग्रहीत करना और समाधान 
                हेतु पत्रकारिता महाविद्यालयी तथा शोध व विकास केन्द्रों की स्थापना करना तथा ज्ञानवर्धन व जागृति हेतु  पुस्तकालयों व वाचनालयों की स्थापना करना।
            
            7 विश्व भर के महान पत्रकारों की स्मृति में समारोहों का आयोजन करना तथा उनके सिद्धान्तों के विकास हेतु कार्य करना तथा अतीत में पत्रकारिता जगत के स्मृति चिन्हों तथा पांडुलिपियों के संरक्षाण हेतु संग्रहालयों की स्थापना करना।
            
            8 पत्रकारों के समुचित जीवन विकास हेतु  संघर्ष  करना

            9. पत्रकारों व पत्रकारों के परिवारों हेतु प्रशासनिक सुरक्षा, आवारा, किसा निःशुल्क बीमा व शिक्षा की उपयुक्त व्यवस्था करना।

           10. विश्व पत्रकार महासंघ द्वारा पत्रकारों तथा आम जनमानस से जुड़े सामाजिक दायित्वों के निर्वहन हेतु प्राथमिक, उच्च स्तरीय शिक्षा संस्थानों, 
            औषधालयी छात्रावास द कल्याण केन्द्रों तथा आश्रमों की स्थापना व संचालन करना।
            विश्व भर के पत्रकारों को स्वराजकीय मान्यता दिलाने हेतु कार्य करना तथा  सरकारों को मान्यता प्रदान करने हेतु परामर्श देना व प्रेरित करना। महासंघ द्वारा समय-समय पर विश्व को जागरूकता का संदेश प्रदान करना।
               
            </p></p>
            <div class="row gy-4 gy-md-0 gx-xxl-5X">
              <div class="col-12 col-md-6">
                <div class="d-flex">
                  {{!-- <div class="me-4 text-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
                      <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
                    </svg>
                  </div> --}}
                  {{!-- <div>
                    <h4 class="mb-3">Versatile Brand</h4>
                    <p class="text-secondary mb-0">We are crafting a digital method that subsists life across all mediums.</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="d-flex">
                  <div class="me-4 text-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-fire" viewBox="0 0 16 16">
                      <path d="M8 16c3.314 0 6-2 6-5.5 0-1.5-.5-4-2.5-6 .25 1.5-1.25 2-1.25 2C11 4 9 .5 6 0c.357 2 .5 4-2 6-1.25 1-2 2.729-2 4.5C2 14 4.686 16 8 16Zm0-1c-1.657 0-3-1-3-2.75 0-.75.25-2 1.25-3C6.125 10 7 10.5 7 10.5c-.375-1.25.5-3.25 2-3.5-.179 1-.25 2 1 3 .625.5 1 1.364 1 2.25C11 14 9.657 15 8 15Z" />
                    </svg>
                  </div>
                  <div>
                    <h4 class="mb-3">Digital Agency</h4>
                    <p class="text-secondary mb-0">We believe in innovation by merging primary with elaborate ideas.</p>
                  </div> --}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{!-- =======================section3=================================== --}}
<section class="py-3 py-md-5 py-xl-8">
  <div class="container">
    <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
      <div class="col-12 col-lg-6 col-xl-5">
        <img class="aboutus-pic" loading="lazy" src="/static/images/image4.jpg" alt="">
      </div>
      <div class="col-12 col-lg-6 col-xl-7">
        <div class="row justify-content-xl-center">
          <div class="col-12 col-xl-11">
           
             <h3 class="fw-bolder slogans">हमारा मिशन और विज़न</h3>

            <p class="mb-5" style="justify-content: flex-end;">विश्व पत्रकार महासंघ द्वारा संघ का पत्र व अन्य आवश्यक पत्र पत्रिकाओं का प्रकाशन करना ।</h5>

                महासंघ से जुड़े पत्रकारों को समाज में हो रहे विविध प्रकार के उत्पीडन, अन्याय व अन्याय प्रणालियों तथा मानवाधिकारों के हनन से सम्बन्धित प्रकरणों की
                 सूचना व जानकारी देना तथा मानवाधिकारों की रक्षा तथा सत्य / न्याय हेतु संघर्ष के लिए प्रेरित करना व न्याय दिलाने हेतु मा० उच्च / उच्चतम न्यायालयों में सहयोग देना ।

                पत्रकारों की समस्याओं व समाज की समस्याओं के हल हेतु जनहित याचिकाएं दायर करने हेतु विधि प्रकोष्ठों की स्थापना करना।
                विशा पत्रकार महासंघ द्वारा पत्रकारों तथा आम जनमानस से जुड़े सामाजिक दायित्वों के निर्वहन हेतु प्राथमिक, उच्च स्तरीय शिक्षा संस्थानों, वाली छात्रावासों व कल्याण केन्द्रों तथा आश्रमी की स्थापना व संचालन करना।

                11. विश्व भर के पत्रकारों को स्वराजकीय मान्यता दिलाने हेतु कार्य करना तथा सरकारों को मान्यता प्रदान करने हेतु परामर्श देना व प्रेरित करना।

                12 महासंघ द्वारा समय-समय पर विश्व को जागरूकता का संदेश प्रदान करना।

                13. विश्व पत्रकार महासंघ द्वारा संघ का पत्र व अन्य आवश्यक पत्र पत्रिकाजी का प्रकाशन करना ।

                14. महासंघ से जुड़े पत्रकारों को समाज में हो रहे विविध प्रकार के उत्पीडन अन्याय व अन्याय प्रणालियों तथा मानवाधिकारों के हनन से सम्बन्धित प्रकरणों की सूचना व जानकारी देना तथा मानवाधिकारों की रक्षा तथा सत्य / न्याय हेतु संघर्ष के लिए प्रेरित करना व न्याय दिलाने हेतु मा० उच्च / उच्चतम न्यायालयों में सहयोग

                देना ।

                15. पत्रकारों की समस्याओं व समाज की समस्याओं के हल हेतु जनहित याचिकाएं दायर करने हेतु विधि प्रकोष्ठों की स्थापना करना ।

                16.विश्व व देश स्तर पर ब्लाक तहसील, जिला, मण्डल व प्रदेश तथा राष्ट्र स्तर पर पत्रकार संघ की इकाइयों शाखाओं एवं उपशाखाओं का गठन करना तथा उपयुक्त स्तर पर प्रेस क्लबों, विश्राम गृह आदि की स्थापना करना।

                उद्देश्यों की पूर्ति हेतु अन्य समस्त सामाजिक, राजनैतिक कार्य करना|

                17. राष्ट्र के समुचित विकास व उत्थान हेतु एक राजनैतिक प्रकोष्ठ की स्थापना करना जिसमें निम्न कार्यों को समाप्त करने हेतु प्रयास करना|
                 जैसे- 1. रेन्ट कन्ट्रोल एक्ट का मकान स्वामी व किरायेदार में द्वेष भाव बढ़ाता है। आवासीय / दुकानों द्वारा रास्ता दबाना जिससे वाहन एकट्ठा चलने से प्रदूषण बढ़ाता है।
                 2. अन्ततः विश्व पत्रकार संघ का उद्देश्य पत्रकारिता व पत्रकारों हेतु कार्यो सम्पादन कर अन्याय मुक्त पत्रकारिता जगत व अन्याय मुक्त विश्व समाज का निर्माण करन है |</p>
            <div class="row gy-4 gy-md-0 gx-xxl-5X">
              <div class="col-12 col-md-6">
                <div class="d-flex">
                  {{!-- <div class="me-4 text-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
                      <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
                    </svg>
                  </div> --}}
                  {{!-- <div>
                    <h4 class="mb-3">Versatile Brand</h4>
                    <p class="text-secondary mb-0">We are crafting a digital method that subsists life across all mediums.</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="d-flex">
                  <div class="me-4 text-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-fire" viewBox="0 0 16 16">
                      <path d="M8 16c3.314 0 6-2 6-5.5 0-1.5-.5-4-2.5-6 .25 1.5-1.25 2-1.25 2C11 4 9 .5 6 0c.357 2 .5 4-2 6-1.25 1-2 2.729-2 4.5C2 14 4.686 16 8 16Zm0-1c-1.657 0-3-1-3-2.75 0-.75.25-2 1.25-3C6.125 10 7 10.5 7 10.5c-.375-1.25.5-3.25 2-3.5-.179 1-.25 2 1 3 .625.5 1 1.364 1 2.25C11 14 9.657 15 8 15Z" />
                    </svg>
                  </div>
                  <div>
                    <h4 class="mb-3">Digital Agency</h4>
                    <p class="text-secondary mb-0">We believe in innovation by merging primary with elaborate ideas.</p>
                  </div> --}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{!-- ======================section 3 =================== our team member===================== --}}

<div class="container">
    <div class="row blog">
        <h3 class="fw-bolder slogans">हमारी टीम के सदस्य</h3>
       
	   <div class="col-md-24">
            <div id="blogCarousel" class="carousel slide" data-ride="carousel">

                <ol class="invisible carousel-indicators">
                    <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#blogCarousel" data-slide-to="1"></li>
                </ol>

                <!-- Carousel items -->
                <div class="carousel-inner">

                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="our-team">
                                    <div class="pic">
                                        <img src="/static/images/papa.jpeg">
                                    </div>
                                    <div class="team-content">
                                        <h3 class="title">Sanjay shukla</h3>
                                        <span class="post">National President</span>
                                    </div>
                                    <ul class="social">
                                        <li>
                                            <a href="#" class="fa fa-envelope"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="our-team">
                                    <div class="pic">
                                        <img src="/static/images/mahasachiv.png">
                                    </div>
                                    <div class="team-content">
                                        <h3 class="title">Geeta shukla</h3>
                                        <span class="post">National general secretry</span>
                                    </div>
                                    <ul class="social">
                                        <li>
                                            <a href="#" class="fa fa-envelope"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            {{!-- <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="our-team">
                                    <div class="pic">
                                        <img src="/static/images/papa.jpeg">
                                    </div>
                                    <div class="team-content">
                                        <h3 class="title"></h3>
                                        <span class="post">.........</span>
                                    </div>
                                    <ul class="social">
                                        <li>
                                            <a href="#" class="fa fa-envelope"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="our-team">
                                    <div class="pic">
                                        <img src="https://i.ibb.co/L8Pj1mg/o6EuTCT6.jpg">
                                    </div>
                                    <div class="team-content">
                                        <h3 class="title">Sophia Lee</h3>
                                        <span class="post">Customer Support</span>
                                    </div>
                                    <ul class="social">
                                        <li>
                                            <a href="#" class="fa fa-envelope"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--.row-->
                    </div>
                    <!--.item-->

                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="our-team">
                                    <div class="pic">
                                        <img src="https://i.ibb.co/L8Pj1mg/o6EuTCT6.jpg">
                                    </div>
                                    <div class="team-content">
                                        <h3 class="title">Ted Robbins</h3>
                                        <span class="post">Law Expert</span>
                                    </div>
                                    <ul class="social">
                                        <li>
                                            <a href="#" class="fa fa-envelope"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="our-team">
                                    <div class="pic">
                                        <img src="https://i.ibb.co/L8Pj1mg/o6EuTCT6.jpg">
                                    </div>
                                    <div class="team-content">
                                        <h3 class="title">Noel Flantier</h3>
                                        <span class="post">Marketing Consultant</span>
                                    </div>
                                    <ul class="social">
                                        <li>
                                            <a href="#" class="fa fa-envelope"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="our-team">
                                    <div class="pic">
                                        <img src="https://i.ibb.co/L8Pj1mg/o6EuTCT6.jpg">
                                    </div>
                                    <div class="team-content">
                                        <h3 class="title">Ernesto Appia</h3>
                                        <span class="post">Team Leader</span>
                                    </div>
                                    <ul class="social">
                                        <li>
                                            <a href="#" class="fa fa-envelope"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="our-team">
                                    <div class="pic">
                                        <img src="https://i.ibb.co/L8Pj1mg/o6EuTCT6.jpg">
                                    </div>
                                    <div class="team-content">
                                        <h3 class="title">Rosita Jimenez</h3>
                                        <span class="post">Marketing Consultant</span>
                                    </div>
                                    <ul class="social">
                                        <li>
                                            <a href="#" class="fa fa-envelope"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--.row-->
                    </div>
                    <!--.item-->

                </div>
                <!--.carousel-inner-->
            </div>
            <!--.Carousel--> --}}

        </div>
    </div>
</div>

{{>footer}}
