{{>navbar}}


<div class="container-fluid">
  <div class="px-lg-5">

    <!-- For demo purpose -->
    <div class="row py-5">
     
    <!-- End -->

    <div class="row">
      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="/static/images/im.jpg" alt="" class="gallimg">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">गुजरात के पूर्व मुख्यमंत्री से की मुलाकात</a></h5>
            <p class="small text-muted mb-0">विश्वपत्रकार महासंघ के राष्ट्रीय अध्यक्ष संजय शुक्ला या महासचिव गीता शुक्ला ने गुजरात के पूर्व मुख्यमंत्री से की मुलाकात</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">गुजरात</span></p>
              <div class="badge badge-danger px-3 rounded-pill font-weight-normal">New</div>
            </div>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="/static/images/g (37).jpg" alt="" class="gallimg">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">दिल्ली में राजधानी संदेश के द्वार मनाया गया होली समारोह</a></h5>
            <p class="small text-muted mb-0">विश्वपत्रकार महासंघ के राष्ट्रीय अध्यक्ष संजय शुक्ला या महासचिव गीता शुक्ला ने राजधानी संदेश के द्वार मनाया गया होली समारोह</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">दिल्ली</span></p>
              <div class="badge badge-primary px-3 rounded-pill font-weight-normal">.....</div>
            </div>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="/static/images/g (34).jpg" alt="" class="gallimg">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">दिल्ली में राजधानी संदेश के द्वार मनाया गया होली समारोह </a></h5>
            <p class="small text-muted mb-0">विश्वपत्रकार महासंघ के राष्ट्रीय अध्यक्ष संजय शुक्ला या महासचिव गीता शुक्ला ने राजधानी संदेश के द्वार मनाया गया होली समारोह</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">दिल्ली</span></p>
              <div class="badge badge-warning px-3 rounded-pill font-weight-normal text-white"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="/static/images/g (4).jpg" alt="" class="gallimg">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">हिमाचल प्रदेश कार्यक्रम</a></h5>
            <p class="small text-muted mb-0">विश्व पत्रकार महासंघ के राष्ट्रीय अध्यक्ष एवं राष्ट्रीय महासचिव या किसी पदाधिकारियो ने हिमाचल प्रदेश में किया कार्यक्रम</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">हिमाचल प्रदेश</span></p>
              <div class="badge badge-success px-3 rounded-pill font-weight-normal">कार्यक्रम</div>
            </div>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="/static/images/g (7).jpg" alt="" class="gallimg">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">हिमाचल प्रदेश कार्यक्रम</a></h5>
            <p class="small text-muted mb-0">विश्व पत्रकार महासंघ के राष्ट्रीय अध्यक्ष एवं राष्ट्रीय महासचिव या किसी पदाधिकारियो ने हिमाचल प्रदेश में किया कार्यक्रम</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">हिमाचल प्रदेश</span></p>
              <div class="badge badge-primary px-3 rounded-pill font-weight-normal">...</div>
            </div>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="/static/images/g (8).jpg" alt="" class="gallimg">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">हिमाचल प्रदेश कार्यक्रम</a></h5>
            <p class="small text-muted mb-0">विश्व पत्रकार महासंघ के राष्ट्रीय अध्यक्ष एवं राष्ट्रीय महासचिव या किसी पदाधिकारियो ने हिमाचल प्रदेश में किया कार्यक्रम</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">हिमाचल प्रदेश</span></p>
              <div class="badge badge-warning px-3 rounded-pill font-weight-normal text-white">.....</div>
            </div>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="/static/images/g (19).jpg" alt="" class="gallimg">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">हिमाचल प्रदेश कार्यक्रम</a></h5>
            <p class="small text-muted mb-0">विश्व पत्रकार महासंघ के राष्ट्रीय अध्यक्ष एवं राष्ट्रीय महासचिव या किसी पदाधिकारियो ने हिमाचल प्रदेश में किया कार्यक्रम</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">हिमाचल प्रदेश</span></p>
              <div class="badge badge-info px-3 rounded-pill font-weight-normal">.......</div>
            </div>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="/static/images/g (56).jpg" alt=""class="gallimg">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">हिमाचल प्रदेश कार्यक्रम</a></h5>
            <p class="small text-muted mb-0">विश्व पत्रकार महासंघ के राष्ट्रीय अध्यक्ष एवं राष्ट्रीय महासचिव या किसी पदाधिकारियो ने हिमाचल प्रदेश में किया कार्यक्रम</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">हिमाचल प्रदेश</span></p>
              <div class="badge badge-warning px-3 rounded-pill font-weight-normal text-white">....</div>
            </div>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="/static/images/g (54).jpg" alt="" class="gallimg">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">हिमाचल प्रदेश कार्यक्रम</a></h5>
            <p class="small text-muted mb-0">विश्व पत्रकार महासंघ के राष्ट्रीय अध्यक्ष एवं राष्ट्रीय महासचिव या किसी पदाधिकारियो ने हिमाचल प्रदेश में किया कार्यक्रम</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">हिमाचल प्रदेश</span></p>
              <div class="badge badge-danger px-3 rounded-pill font-weight-normal">....</div>
            </div>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="/static/images/g (57).jpg" alt="" class="gallimg">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">हिमाचल प्रदेश कार्यक्रम</a></h5>
            <p class="small text-muted mb-0">विश्व पत्रकार महासंघ के राष्ट्रीय अध्यक्ष एवं राष्ट्रीय महासचिव या किसी पदाधिकारियो ने हिमाचल प्रदेश में किया कार्यक्रम</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">हिमाचल प्रदेश</span></p>
              <div class="badge badge-primary px-3 rounded-pill font-weight-normal">.....</div>
            </div>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="/static/images/g (76).jpg" alt="" class="gallimg">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">हिमाचल प्रदेश कार्यक्रम</a></h5>
            <p class="small text-muted mb-0">विश्व पत्रकार महासंघ के राष्ट्रीय अध्यक्ष एवं राष्ट्रीय महासचिव या किसी पदाधिकारियो ने हिमाचल प्रदेश में किया कार्यक्रम</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">हिमाचल प्रदेश</span></p>
              <div class="badge badge-warning px-3 rounded-pill font-weight-normal text-white">.......</div>
            </div>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="/static/images/g (18).jpg" alt="" class="gallimg">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">हिमाचल प्रदेश कार्यक्रम</a></h5>
            <p class="small text-muted mb-0">विश्व पत्रकार महासंघ के राष्ट्रीय अध्यक्ष एवं राष्ट्रीय महासचिव या किसी पदाधिकारियो ने हिमाचल प्रदेश में किया कार्यक्रम</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">हिमाचल प्रदेश</span></p>
              <div class="badge badge-success px-3 rounded-pill font-weight-normal">....</div>
            </div>
          </div>
        </div>
      </div>
      <!-- End -->
       <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="/static/images/g (13).jpg" alt="" class="gallimg">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">हिमाचल प्रदेश कार्यक्रम</a></h5>
            <p class="small text-muted mb-0">विश्व पत्रकार महासंघ के राष्ट्रीय अध्यक्ष एवं राष्ट्रीय महासचिव या किसी पदाधिकारियो ने हिमाचल प्रदेश में किया कार्यक्रम</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">हिमाचल प्रदेश</span></p>
              <div class="badge badge-success px-3 rounded-pill font-weight-normal">..</div>
            </div>
          </div>
        </div>
      </div>
      <!-- End -->
       <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="/static/images/g (15).jpg" alt="" class="gallimg">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">हिमाचल प्रदेश कार्यक्रम</a></h5>
            <p class="small text-muted mb-0">विश्व पत्रकार महासंघ के राष्ट्रीय अध्यक्ष एवं राष्ट्रीय महासचिव या किसी पदाधिकारियो ने हिमाचल प्रदेश में किया कार्यक्रम</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">हिमाचल प्रदेश</span></p>
              <div class="badge badge-success px-3 rounded-pill font-weight-normal">....</div>
            </div>
          </div>
        </div>
      </div>
      <!-- End -->
       <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="/static/images/g (16).jpg" alt=""class="gallimg">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">हिमाचल प्रदेश कार्यक्रम</a></h5>
            <p class="small text-muted mb-0">विश्व पत्रकार महासंघ के राष्ट्रीय अध्यक्ष एवं राष्ट्रीय महासचिव या किसी पदाधिकारियो ने हिमाचल प्रदेश में किया कार्यक्रम</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">हिमाचल प्रदेश</span></p>
              <div class="badge badge-success px-3 rounded-pill font-weight-normal">....</div>
            </div>
          </div>
        </div>
      </div>
      <!-- End -->
       <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="/static/images/g (17).jpg" alt="" class="gallimg">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">हिमाचल प्रदेश कार्यक्रम</a></h5>
            <p class="small text-muted mb-0">विश्व पत्रकार महासंघ के राष्ट्रीय अध्यक्ष एवं राष्ट्रीय महासचिव या किसी पदाधिकारियो ने हिमाचल प्रदेश में किया कार्यक्रम</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">हिमाचल प्रदेश</span></p>
              <div class="badge badge-success px-3 rounded-pill font-weight-normal">.....</div>
            </div>
          </div>
        </div>
      </div>
      <!-- End -->
       <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="/static/images/g (21).jpg" alt=""class="gallimg">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">हिमाचल प्रदेश कार्यक्रम</a></h5>
            <p class="small text-muted mb-0">विश्व पत्रकार महासंघ के राष्ट्रीय अध्यक्ष एवं राष्ट्रीय महासचिव या किसी पदाधिकारियो ने हिमाचल प्रदेश में किया कार्यक्रम</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">हिमाचल प्रदेश</span></p>
              <div class="badge badge-success px-3 rounded-pill font-weight-normal">......</div>
            </div>
          </div>
        </div>
      </div>
      <!-- End -->
       <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="/static/images/g (23).jpg" alt="" class="gallimg">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">हिमाचल प्रदेश कार्यक्रम</a></h5>
            <p class="small text-muted mb-0">विश्व पत्रकार महासंघ के राष्ट्रीय अध्यक्ष एवं राष्ट्रीय महासचिव या किसी पदाधिकारियो ने हिमाचल प्रदेश में किया कार्यक्रम</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">हिमाचल प्रदेश</span></p>
              <div class="badge badge-success px-3 rounded-pill font-weight-normal">....</div>
            </div>
          </div>
        </div>
      </div>
      <!-- End -->
       <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="/static/images/g (24).jpg" alt="" class="gallimg">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">हिमाचल प्रदेश कार्यक्रम</a></h5>
            <p class="small text-muted mb-0">विश्व पत्रकार महासंघ के राष्ट्रीय अध्यक्ष एवं राष्ट्रीय महासचिव या किसी पदाधिकारियो ने हिमाचल प्रदेश में किया कार्यक्रम</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">हिमाचल प्रदेश</span></p>
              <div class="badge badge-success px-3 rounded-pill font-weight-normal">....</div>
            </div>
          </div>
        </div>
      </div>
      <!-- End -->
       <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="/static/images/g (45).jpg" alt="" class="gallimg">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">हिमाचल प्रदेश कार्यक्रम</a></h5>
            <p class="small text-muted mb-0">विश्व पत्रकार महासंघ के राष्ट्रीय अध्यक्ष एवं राष्ट्रीय महासचिव या किसी पदाधिकारियो ने हिमाचल प्रदेश में किया कार्यक्रम</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">हिमाचल प्रदेश</span></p>
              <div class="badge badge-success px-3 rounded-pill font-weight-normal">.......</div>
            </div>
          </div>
        </div>
      </div>
      <!-- End -->

    </div>
    <div class="py-5 text-right"><a href="/gallery" class="btn btn-dark px-5 py-3 text-uppercase" style="color: black;">Show me more</a></div>
  </div>
</div>

{{>footer}}