<body>
  {{>navbar}}

  {{!-- <img src="/static/images/first.jpg" alt="" srcset=""> --}}

  <!--hero-section-->

 <div id="video-popup">
    <div id="video-container">
        <span id="close-btn" onclick="closeVideo()">X</span>
        <iframe id="video-frame" width="500" height="315" src="https://www.youtube.com/embed/RPx2ceW9Hz8?si=wGPrwLTJBjoTvJrv&amp;start=49"
         title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
         allowfullscreen frameborder="0"></iframe>
    </div>
</div> 


  <div class="container-fluid">
    <div class="container mt-5">
      <marquee class="mb-3" behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start();">
        विश्व पत्रकार महासंघ ने पत्रकारों की समस्याओं को लेकर समाचार पत्रों के पंजीयक के नाम जिलाधिकारी को सौंपा ज्ञापन
      </marquee>
      <div class="row">
        <div class="col-12 col-xl-9 col-lg-9 col-md-12 col-sm-12">
          <div id="carouselExampleDark" class="carousel carousel-dark slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner img-thumbnail border shadow">
              <div class="carousel-item active" data-bs-interval="10000">
                <img src="/static/images/first.jpg" class="d-block w-100" alt="...">

              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="/static/images/firstslide.jpg" class="d-block w-100" alt="...">

              </div>
              <div class="carousel-item">
                <img src="/static/images/im.jpg" class="d-block w-100" alt="...">

              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="false"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="false"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="col-12 col-xl-3 col-lg-3 col-md-12 col-sm-12">
          <div class="d-none d-sm-block">
            <div class="d-none d-lg-block">
              <div class="row">
                <div class="col-12  d-flex justify-content-center align-item-center">
                  <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
                    <div class="card-header">विश्वपत्रकार महासंघ</div>
                    <div class="card-body">
                      <h5 class="card-title">मुख्यमंत्री से मुलाकात</h5>
                      <p class="card-text">विश्वपत्रकार महासंघ के अध्यक्ष महासचिव गुजरात के पूर्व मुख्यमंत्री से मुलाकात
                        के लिए गुजरात पहुंचे।
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-12  d-flex justify-content-center align-item-center">
                  <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
                    <div class="card-header"></div>
                    <div class="card-body">
                      <h5 class="card-title">विश्वपत्रकार महासंघ</h5>
                      <p class="card-text">विश्व पत्रकार महासंघ के सदस्यों ने जिलाधिकारी को सौंपा ज्ञापन</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--end-hero-->


  <div class="container-fluid mt-3">
    <div class="container">
      <div class="row">
        <div class="col-12 col-xl-9 col-lg-9 col-md-12 col-sm-12 p-4 gy-4">

          <!--blog-->
          <div class="text-center">
            <h3 class="fw-bolder slogans">Blog</h3>
            <hr class="mx-auto" style="color: black; width: 3rem;">
          </div>

          <div class="card border-dark mb-3 itemx" style="max-width: 57rem;">
            <div class="card-header">News</div>
            <div class="card-body">
              <img src="/static/images/image2.jpg" class="img-fluid">
              <h5 class="card-title mt-3"> बीजेपी के वरिष्ठ अधिकारी से बातचीत करते हुए विश्व पत्रकार महासंघ के अध्यक्ष
                श्री संजय शुक्ला या महासचिव गीता शुक्ला जी। </h5>
              <p class="card-text"><a href="https://youtu.be/8BW3NQsETws?si=hp6rEF1LQIOPCFT2">बीजेपी के वरिष्ठ अधिकारी
                  से बातचीत करते हुए विश्व पत्रकार महासंघ के अध्यक्ष श्री संजय
                  शुक्ला या महासचिव गीता शुक्ला जी।</p></a>
            </div>
          </div>
          <div class="card border-dark mb-3 itemx" style="max-width: 57rem;">
            <div class="card-header">News</div>
            <div class="card-body">
              <img src="/static/images/image1.jpg" class="img-fluid">
              <h5 class="card-title mt-3">बीजेपी के वरिष्ठ अधिकारी से बातचीत करते हुए विश्व पत्रकार महासंघ के अध्यक्ष
                श्री संजय शुक्ला या महासचिव गीता शुक्ला जी।</h5>
              <p class="card-text"> <a href="https://youtu.be/EAu-JEKVDbY?si=UKjCl6vg7yL-hlP4">बीजेपी के वरिष्ठ अधिकारी
                  से बातचीत करते हुए विश्व पत्रकार महासंघ के अध्यक्ष श्री संजय
                  शुक्ला या महासचिव गीता शुक्ला जी।.</p></a>

            </div>
          </div>
          <!--endblog-->

          <div class="text-center">
            <marquee class="mb-3" behavior="scroll" direction="left" onmouseover="this.stop();"
              onmouseout="this.start();">
              विश्व पत्रकार महासंघ द्वारा 26 अगस्त को दिल्ली के जंतर मंतर पर विशाल धरने का आयोज सम्पन्न हुआ|
            </marquee>
            <hr class="w-25 mx-auto" style="color: black;">
          </div>



        </div>

        <div class="col-12 col-xl-3 col-lg-3 col-md-12 col-sm-12">
          {{!--
          <div class="container mt-5" style="background-color: white;">
            <div class="text-center">
              <h3 class="fw-bolder slogans">Top Stories</h3>
              <hr class="w-25 mx-auto" style="color: black;">
            </div> --}}
            <div class="row gy-3">
              <div class="col-12 bg-lite" data-aos="fade-right">
                <div class="card p-0 shadow" style="width: 18rem;" id="vid1">
                  <img src="/static/images/image3.jpg" class="card-img-top img-thumbnail" alt="...">

                  {{!-- <div class="card-body">
                    <h5 class="card-title" style="color: rgb(5, 5, 5);">
                      <button href="https://youtu.be/RPx2ceW9Hz8?si=7rWmizWf9S5hcyAp"
                        class="btn btn-primary rounded-circle"
                        onclick="playVideo('https://youtu.be/RPx2ceW9Hz8?si=7rWmizWf9S5hcyAp','विश्व पत्रकार महासंघ ');"
                        id="play3"><i class="fa-solid fa-play"></i></button>
                      विश्व पत्रकार महासंघ
                    </h5>

                  </div> --}}
                  <div class="card-body">
                    <h5 class="card-title" style="color: rgb(5, 5, 5);">
                      <button class="btn btn-primary rounded-circle"
                        onclick="window.location.href='https://youtu.be/RPx2ceW9Hz8?si=7rWmizWf9S5hcyAp'" id="play3">
                        <i class="fa-solid fa-play" style="color: blue;"></i>
                      </button>
                      विश्व पत्रकार महासंघ
                    </h5>
                  </div>

                </div>
              </div>

              <div class="col-12 bg-lite" data-aos="fade-right">
                <div class="card p-0 shadow" style="width: 18rem;" id="vid1">
                  <img src="/static/images/image4.jpg" class="card-img-top img-thumbnail" alt="...">

                  {{!-- <div class="card-body">
                    <h5 class="card-title" style="color: rgb(5, 5, 5);">
                      <button href="#" class="btn btn-primary rounded-circle"
                        onclick="playVideo('vid1','bD_nlDO09f4', 'video1.png', 'How To Setup');" id="play3"><i
                          class="fa-solid fa-play"></i></button>
                      विश्व पत्रकार महासंघ
                    </h5>
                  </div> --}}

                  <div class="card-body">
                    <h5 class="card-title" style="color: rgb(5, 5, 5);">
                      <button class="btn btn-primary rounded-circle"
                        onclick="window.location.href='https://youtu.be/8MnB6CKoOts?si=DqDZVUl1PbGk0opQ'" id="play3">
                        <i class="fa-solid fa-play" style="color: blue;"></i>
                      </button>
                      विश्व पत्रकार महासंघ
                    </h5>
                  </div>
                </div>
              </div>


              <div class="col-12" data-aos="fade-right">
                <div class="card shadow p-0" style="width: 18rem; background-color: white;" id="vid2">
                  <img src="/static/images/g (45).jpg" class="card-img-top img-thumbnail" alt="...">

                  {{!-- <div class="card-body">
                    <h5 class="card-title" style="color: rgb(5, 5, 5);">
                      <button href="#" class="btn btn-primary rounded-circle"
                        onclick="playVideo('vid2','bD_nlDO09f4', 'video2.png', 'Persistence Proved');" id="play3"><i
                          class="fa-solid fa-play"></i></button>
                      विश्व पत्रकार महासंघ
                    </h5>

                  </div> --}}
                  <div class="card-body">
                    <h5 class="card-title" style="color: rgb(5, 5, 5);">
                      <button class="btn btn-primary rounded-circle"
                        onclick="window.location.href='https://youtu.be/8BW3NQsETws?si=0b-nN6MfpfFuP6oT'" id="play3">
                        <i class="fa-solid fa-play" style="color: blue;"></i>
                      </button>
                      विश्व पत्रकार महासंघ
                    </h5>
                  </div>
                </div>
              </div>

              <div class="col-12 " data-aos="fade-right">
                <div class="card shadow p-0" style="width: 18rem; background-color: white;" id="vid3">
                  <img src="/static/images/six.jpg" class="card-img-top img-thumbnail" alt="..." id="img3">
                  {{!-- <div class="card-body">
                    <h5 class="card-title" style="color: rgb(5, 5, 5);">
                      <button href="#" class="btn btn-primary rounded-circle"
                        onclick="playVideo('vid3','bD_nlDO09f4', 'video3.png', 'Monitor & Control');" id="play3">
                        <i class="fa-solid fa-play"></i></button>
                      विश्व पत्रकार महासंघ
                    </h5> <!--p class="card-text" style="color: rgb(5, 5, 5);">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a-->
                  </div> --}}
                  <div class="card-body">
                    <h5 class="card-title" style="color: rgb(5, 5, 5);">
                      <button class="btn btn-primary rounded-circle"
                        onclick="window.location.href='https://youtu.be/EAu-JEKVDbY?si=F8N06U0TXyvJmmiA'" id="play3">
                        <i class="fa-solid fa-play" style="color: blue;"></i>
                      </button>
                      विश्व पत्रकार महासंघ
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>



  <div class="container-fluid mt-5">
    <div class="container">

      <div class="row">
        <div class="col-12 col-xl-9 col-lg-9 col-md-12 col-sm-12">
          <div class="d-flex justify-content-center">
            <h3 class="fw-bolder slogans">Gallery<br>
              <hr class="w-85 text-center" style="color: black;">
            </h3>
          </div>
          <div class="row gy-5 mx-4">
            <div class="col-12 col-xl-4 col-lg-4">
              <div class="card" style="width: 15rem;">
                <img src="/static/images/g (35).jpg" class="card-img-top shadow" alt="...">
                <div class="card-body">
                  <p class="card-text">विश्वपत्रकार महासंघ राजधानी संदेश समाचार दवारा दिल्ली में होली मिलन समारोह मनाया
                    गया जिसका भूत से पदाधिकार मौजुद रहे।</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-xl-4 col-lg-4">
              <div class="card" style="width: 15rem;">
                <img src="/static/images/g (40).jpg" class="card-img-top shadow" alt="...">
                <div class="card-body">
                  <p class="card-text">विश्वपत्रकार महासंघ के प्रदेश सचिव सुनील साहू ने कुछ पुलिस कर्मचारियों को कोरोना
                    सर्टिफिकेट देकर सम्मान दिया। ....

                  </p>
                </div>
              </div>
            </div>
            <div class="col-12 col-xl-4 col-lg-4">
              <div class="card" style="width: 15rem;">
                <img src="/static/images/g (39).jpg" class="card-img-top shadow" alt="...">
                <div class="card-body">
                  <p class="card-text">विश्वपत्रकार महासंघ के प्रदेश सचिव सुनील साहू ने कुछ पुलिस कर्मचारियों को कोरोना
                    सर्टिफिकेट देकर सम्मान दिया।...
                    .
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-3 col-lg-3 col-md-12 col-sm-12 mt-4">
            <h4 class="slogans text-center">Perspectives letters</h4>
            <div class="col-12 mt-3">
              <div class="card" style="width: auto; height: 37vh;">
                <div class="card-body myscrolls img-thumbnail" id="adds" class="adds" style="background-color: white">



                  <div class="row mt-3">
                    <div class="col-12 d-flex justify-content-center">
                      <!--h5 class="card-title border p-4 bg-light" style="font-size: 13px; color: black;"> New Update </h5-->
                      <div class="card" style="width: 100%;">
                        <img src="/static/images/letter (1).jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text"></p>
                        </div>
                      </div>
                    </div>


                    <div class="col-12 d-flex justify-content-center">
                      <!--h5 class="card-title border p-4 bg-light" style="font-size: 13px; color: black;"> New Update </h5-->
                      <div class="card" style="width: 100%;">
                        <img src="/static/images/letter (4).jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text"></p>
                        </div>
                      </div>
                    </div>


                    <div class="col-12 d-flex justify-content-center">
                      <!--h5 class="card-title border p-4 bg-light" style="font-size: 13px; color: black;"> New Update </h5-->
                      <div class="card" style="width: 100%;">
                        <img src="/static/images/letter (5).jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text"></p>
                        </div>
                      </div>
                    </div>


                    <div class="col-12 d-flex justify-content-center">
                      <!--h5 class="card-title border p-4 bg-light" style="font-size: 13px; color: black;"> New Update </h5-->
                      <div class="card" style="width: 100%;">
                        <img src="/static/images/letter (107).jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          {{!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of the card's content.</p> --}}
                        </div>
                      </div>
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                      <!--h5 class="card-title border p-4 bg-light" style="font-size: 13px; color: black;"> New Update </h5-->
                      <div class="card" style="width: 100%;">
                        <img src="/static/images/letters (2).jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          {{!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of the card's content.</p> --}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="aboutheader">
    <h3 class="fw-bolder slogans">About-us<br>
      <hr class="w-85 text-center" style="color: black;">
    </h3>
  </div>
  <section class="py-3 py-md-5 py-xl-8">
    <div class="container">
      <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
        <div class="col-12 col-lg-6 col-xl-5">
          <img class="aboutus-pic" loading="lazy" src="/static/images/firstslide.jpg" alt="">
        </div>
        <div class="col-12 col-lg-6 col-xl-7">
          <div class="row justify-content-xl-center">
            <div class="col-12 col-xl-11">
              <h2 class="h1 mb-2">Who Are We?</h2>
              <p class="mb-5"> विश्व पत्रकार महासंघ का उद्भव विश्व पत्रकार महासंघ भारत देश के
                सूचना जगत अर्थात लोकतंत्र की
                चौथे स्तंभ और इसमें जुड़े सूचना कर्मियों को पूर्ण व्यवस्थित संयमित सुसंगठित और शिक्षित एवं प्रशिक्षित
                करने
                हेतु सर्व रूपेण पूर्ण संकल्पित ट्रस्ट है
                इसका उद्धव 2006 में प्रयागराज की धरती जहां गंगा जमुना सरस्वती जैसी तीनों पवित्र नदियों का संगम है ।जो की
                संपूर्ण विश्व में विख्यात है ऐसी पावन धरती में महासंघ का प्रादुर्भाव हुआ
                इस महासंघ का कार्य क्षेत्र भारत देश के साथ-साथ संपूर्ण विश्व है। विश्व पत्रकार महासंघ भारतीय संविधान के
                ट्रस्ट एक्ट के अंतर्गत पंजीकृत किया गया है। इसी आधार पर इस महासंघ का पूरा नाम विश्व पत्रकार महासंघ
                ट्रस्ट ऑफ
                इंडिया की मान्यता दी गई है<span id="dots">...</span><span id="more">

                  <p class="mb-5">विश्वा पत्रकार महासंघ में महासंघ शब्द की पुष्टि करने हेतु महासंघ में दो मुख्य सभाएं दो
                    समितियां दो मोर्चा
                    तथा एक प्रकोष्ठ का गठन किया गया है। जो की निम्मतवत है।
                    विश्व पत्रकार महासंघ मे महासंघ शब्द होने हेतु संगठन
                    के द्वारा एक प्रकोष्ठ दो मोर्चा
                    दो समितियां तथा दो सभाओं को संगठित करके विश्व पत्रकार महासंघ में महासंघ शब्द की पुष्टि किया गया है
                    जो की
                    निम्नवत है केंद्रीय मुख्य सभा प्रांतीय मुख्य सभा वरिष्ठ सलाहकार समिति युवा पत्रकार मोर्चा महिला
                    पत्रकार
                    मोर्चा सूचना प्रकोष्ठ
                    वरिष्ठ पत्रकार मंच। ।


                    नोट उपर्युक्त सभी संगठित समूह की सभी गतिविधियों के संपूर्ण अधिकार मूल ट्रस्टयो पर निहित होगी और
                    इन्हीं
                    के द्वारा उपर्युक्त समूहो का गठन एवं पद निर्धारण तथा निरस्तीकरण का कार्य किया जाए</p>
                 
                      </div>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button id="aboutButton" style="align-items: center;">Read more</button>
</section>

  {{!-- ==============news section============== --}}

  <button href="#" class="img-thumbnail rounded-circle upp btn btn-primary" onclick="scrollToTop()">
    <i class="fa-solid fa-angles-up"></i>
  </button>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({
      offset: 120,
      disable: 'mobile'
    });
  </script>
  <script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
  </script>

  <script>
    document.getElementById("aboutButton").addEventListener("click", function () {
      window.location.href = '/about';
    });
  </script>


  <script>
    // JavaScript to handle button click and redirect
    document.getElementById("newsButton").addEventListener("click", function () {
      // Replace 'news.html' with the actual path of your news page
      window.location.href = '/news';
    });
  </script>
{{!-- =============video  script========= --}}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        showVideoPopup();
    });

    function showVideoPopup() {
        document.getElementById("video-popup").style.display = "flex";
        document.body.addEventListener("click", closeVideo);
    }

    function closeVideo() {
        document.getElementById("video-popup").style.display = "none";
        document.body.removeEventListener("click", closeVideo);
    }
</script>

  {{>footer}}
</body>

</html>